@import '../abstracts/variables.scss';

.about {
    display: none;
    margin-bottom: $desktop-margin;

    @media screen and (min-width: $desktop) {
        display: block;
    }

    &__list {
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
        justify-content: center;
        gap: 30px;
    }

    &__item {
        // width: auto;
        flex: 1 1 0;
        position: relative;
    }

    &__img {
        display: block;
        width: 100%;
        height: auto;
    }

    &__text {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(47, 48, 58, 0.8);
        padding: 27px 12px;
        color: $white-color;
        text-decoration: none;
        font-weight: 700;
        font-size: 14px;
        line-height: 16px;
        text-align: center;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        overflow: hidden;
    }
}