.address {
    font-style: normal;

    &__item {
        display: block;

        &:not(:last-child) {
            margin-bottom: 8px;
        }
    }

    &__link {
        color: #ACACB0;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
}