@import '../abstracts/variables.scss';

.social {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    gap: 10px;

    &__item {
        &:hover {
            path {
                fill: $primary-color !important;
            }
            g path {
                fill: $white-color !important;
            }
        }
    }

    &_black &__item {
        path {
            fill: rgba(255, 255, 255, 0.1);
        }

        g path {
            fill: $white-color;
        }
    }
}