@import '../abstracts/variables.scss';

* {
    box-sizing: border-box;
}

body {
    font: 14px/1.714 'Roboto', Arial, "Helvetica Neue", Helvetica, sans-serif;
    background: $white-color;
    color: $text-color;
}

.main {
    margin-bottom: $mobile-margin;

    @media screen and (min-width: $desktop) {
        margin-bottom: $desktop-margin;
    }
}

.container {
    min-width: 320px;
    max-width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
}

a {
    color: $primary-color;
}

.mobile {
    display: block !important;

    @media screen and (min-width: $tablet) {
        display: none !important;
    }
}

.not-mobile {
    display: none !important;

    @media screen and (min-width: $tablet) {
        display: block !important;
    }
}

.button {
    border: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    line-height: 30px;
    font-weight: 700;
    letter-spacing: 0.06em;
    padding: 10px 24px;
    cursor: pointer;
    outline: none;
    
    &_primary {
        background: $primary-color;
        color: $white-color;

        &:hover {
            background: darken($primary-color, 5%);
        }
    }
}

.title {
    font-size: 28px;
    line-height: 33px;
    font-weight: 700;
    text-align: center;
    margin: 0 0 30px;
}