@import '../abstracts/variables.scss';

.footer {
    background: #2F303A;
    text-align: center;
    padding: $mobile-margin 0;
    color: #fff;

    @media screen and (min-width: $desktop) {
        text-align: left;
    }

    &__container {
        @media screen and (min-width: $desktop) {
            display: flex;
            justify-content: space-between;
        }
    }

    &__frame {
        @media screen and (min-width: $tablet) {
            display: flex;
            justify-content: space-between;
            width: 100%;
            max-width: 82%;
            margin: 0 auto;
        }

        @media screen and (min-width: $desktop) {
            width: 50%;
            max-width: 50%;
            margin: 0;
            justify-content: flex-start;
        }
    }

    &__contacts {
        @media screen and (min-width: $desktop) {
            width: 50%;
        }
    }

    &__logo {
        display: block;
        margin: 0 auto 20px;
    }

    &__address {
        margin-bottom: $mobile-margin;
    }

    &__title {
        font-weight: 700;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        margin: 0 0 20px;
    }

    &__social {
        margin-bottom: $mobile-margin;

        .social {
            justify-content: center;
        }
    }
}