@import '../abstracts/variables.scss';

.header {
    box-shadow:  0 0 0 1px #ececec;

    &__container {
        min-height: 60px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        @media screen and (min-width: $tablet) {
            min-height: 80px;
        }
    }
}

.logo {
    * {
        display: block;
    }
}